<div style="max-width: 600px; margin: 40px auto; font-family: Arial;">
  <h1>Inimco Developer Exercise</h1>

  <h3>Naam</h3>
  <input [(ngModel)]="person.firstName" placeholder="Voornaam" /><br><br>
  <input [(ngModel)]="person.lastName" placeholder="Achternaam" /><br><br>

  <h3>Social Skills</h3>
  <input [(ngModel)]="newSkill" placeholder="Skill toevoegen" />
  <button (click)="addSkill()">Toevoegen</button>
  <ul>
    <li *ngFor="let skill of person.socialSkills">{{ skill }}</li>
  </ul>

  <h3>Social Accounts</h3>
  <input [(ngModel)]="newAccount.type" placeholder="Type (Twitter, LinkedIn...)" />
  <input [(ngModel)]="newAccount.address" placeholder="Adres" />
  <button (click)="addAccount()">Toevoegen</button>
  <ul>
    <li *ngFor="let account of person.socialAccounts">{{ account.type }}: {{ account.address }}</li>
  </ul>

  <br>
  <button (click)="submit()">Versturen</button>

  <div *ngIf="result">
    <h3>Resultaat</h3>
    <p>Aantal klinkers: {{ result.vowelCount }}</p>
    <p>Aantal medeklinkers: {{ result.consonantCount }}</p>
    <p>Volledige naam: {{ result.fullName }}</p>
    <p>Omgekeerde naam: {{ result.reversedName }}</p>
    <h4>JSON:</h4>
    <pre>{{ result.person | json }}</pre>
  </div>
</div>